<wrapper class="footer">
	<hr/>
	<row>
	<columns small="12" large="5">
		<h5><a href="http://mediatheques.cca.bzh"><span class="carret">></span> Le site des médiathèques</a></h5>	    
	    <h5><a href="http://mediatheques.cca.bzh/index/formulairecontact"><span class="carret">></span> Nous contacter</a></h5>
	    <h5 ><a href="#"><span class="carret">></span> Se désinscrire</a></h5>
	</columns>
	<columns small="12" large="4">
	    <a href="https://www.facebook.com/mediathequescca/"><img src="http://mediatheques.cca.bzh/userfiles/image/Newsletter/facebook-logo.png" style="float:left; padding-right: 5px"><h5>Suivez nous sur <br/>Facebook</h5></a>
	</columns>
	<columns small="12" large="3">
	    <a href="http://www.concarneau-cornouaille.fr/"><img src="http://mediatheques.cca.bzh/userfiles/image/Newsletter/logo-cca-short.png"></a>
	</columns>
	</row>
</wrapper>